.card {
  height: 830px;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 60px;
}

.card__title {
  font-size: 30px;
  font-weight: 700;
  color: var(--co-black);
  align-self: center;
  position: relative;
}

.card__title::before {
  content: "01";
  position: absolute;
  top: -115px;
  left: -105px;
  font-size: 150px;
  font-weight: 400;
  color: var(--co-light-green);
  opacity: 0.3;
}

.card__description {
  font-size: 20px;
  font-weight: 500;
  color: var(--co-light-black);
}

.card__img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  aspect-ratio: auto 65/82;
}

.card__title--right {
  align-self: flex-end;
}

.card__title--second::before {
  content: "02";
}

.card__title--third::before {
  content: "03";
  left: -130px;
}

@media (max-width: 480px) {
  .card__title {
    font-size: 22px;
  }
  .card__title::before {
    left: -105px;
    top: -125px;
  }
  .card__description {
    font-size: 16px;
  }
}
